script( src='vendor/jquery/dist/jquery.min.js' )
script( src='vendor/foundation-sites/dist/foundation.min.js' )
script( src='vendor/Chart.js/Chart.min.js' )
script( src='vendor/angular/angular.min.js' )
script( src='js/main.min.js' )
  
