<div class="container-fluid">
	<nav class="navbar navbar-inverse sidebar navbar-fixed-left" id="sidebar">
		<div class="navbar-header">
			<a id="initial-page" href="#/"><span class="navbar-brand">GLAMBOX</span></a>
			<span class="navbar-toggle glyphicon glyphicon-menu-hamburger" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1"></span>
		</div>
		<div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li>
					<a id="item-dashboard" href="#/dashboard">
						<span class="item-img glyphicon glyphicon-th"></span>
				    	<span class="item-caption">Dashboard</span>
					</a>
				</li>
			</ul>
		</div>
	</nav>
	<nav class="navbar navbar-inverse navbar-fixed-top" id="header">
	</nav>
</div>
